## Demo Assignment (Q1, Q2, Q3 from the Missing Data Chapter)

Q1. Fill all missing values with -1

Q2. Fill missing values for variable “B” with -1

Q3. Fill all values with the mean for the variable

In [1]:
# The Data

import pandas as pd
import numpy as np

df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[None, 2, 54, 3, None], 
                   "C":[20, 16, None, 3, 8], 
                   "D":[14, 3, None, None, 6]})

In [2]:
# Q1

df_q1 = df.copy()
df_q1.fillna(-1, inplace=True)

display(df_q1)

# fillna replaces the "None" with the input (-1)
# inplace = False modifies a new data frame rather than using the old one

      A     B     C     D
0  12.0  -1.0  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0  -1.0  -1.0
3  -1.0   3.0   3.0  -1.0
4   1.0  -1.0   8.0   6.0

In [3]:
# Q2

df_q2 = df.copy()
df_q2['B'].fillna(-1, inplace=True)

print(df_q2)

      A     B     C     D
0  12.0  -1.0  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   NaN   NaN
3   NaN   3.0   3.0   NaN
4   1.0  -1.0   8.0   6.0

/var/folders/0w/sth8nzm513v609lmyg7vsnfc0000gn/T/ipykernel_10273/770211614.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_q2['B'].fillna(-1, inplace=True)

In [4]:
# Q3
df_q3 = df.copy()

df_q3.fillna(df.mean(), inplace = True)
display(df_q3)

      A          B      C          D
0  12.0  19.666667  20.00  14.000000
1   4.0   2.000000  16.00   3.000000
2   5.0  54.000000  11.75   7.666667
3   5.5   3.000000   3.00   7.666667
4   1.0  19.666667   8.00   6.000000