# The merge function

In [1]:
import pandas as pd

left_df = pd.DataFrame({
                    'firm': ['Accenture','Citi','GS'],
                    'varA': ['A1', 'A2', 'A3']})

right_df = pd.DataFrame({
                    'firm': ['GS','Chase','WF'],
                    'varB': ['B1', 'B2', 'B3'],
                    'varc': ['C1', 'C2', 'C3']})    

print(left_df)
print(right_df)

        firm varA
0  Accenture   A1
1       Citi   A2
2         GS   A3
    firm varB varc
0     GS   B1   C1
1  Chase   B2   C2
2     WF   B3   C3

Let use shift+tab to talk about the parameters.

Put your cursor in the merge function below and hit shift tab

## Merge Important Stuff

- right
- how
- on and its varients - what variable or variables do we need to use to match
    - firm name, or ticker, etc
    - can be multiple
- indicator  --> useful! always use
- validate   --> useful! always use

In [2]:
left_df.merge(right_df,"outer")

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1      Chase  NaN   B2   C2
2       Citi   A2  NaN  NaN
3         GS   A3   B1   C1
4         WF  NaN   B3   C3

In [3]:
left_df.merge(right_df,"inner")

  firm varA varB varc
0   GS   A3   B1   C1

In [4]:
left_df.merge(right_df,"left")

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   B1   C1

In [5]:
left_df.merge(right_df,"right")

    firm varA varB varc
0     GS   A3   B1   C1
1  Chase  NaN   B2   C2
2     WF  NaN   B3   C3

The main parameters:
- right
- how
- on and its variants 
- indicator 
- validate

## Part 1

_Prof: Leave the "how" slide on the board_

Some work with the mechanics:

- Q0 Merge both datasets above with each possible value of `how`. How many observations result from each of the four merges?

Did above

- Q1 Compare `left_df.merge(right_df)` and `pd.merge(left_df, right_df)`. Are they the same or different? What do we learn from this?

In [6]:
left_df.merge(right_df)

  firm varA varB varc
0   GS   A3   B1   C1

In [7]:
pd.merge(left_df, right_df)

  firm varA varB varc
0   GS   A3   B1   C1

In [8]:
ChosenOne = pd.DataFrame({
                    'tic': ['GS','GS','GS'],
                    'varB': ['B1', 'B2', 'B3'],
                    'varc': ['C1', 'C2', 'C3']})    

CurryForThree = pd.DataFrame({
                    'var1': ['GS','GS','GS'],
                    'varD': ['D1', 'D2', 'D3'],
                    'varE': ['E1', 'E2', 'E3']}).set_index('var1')

- Q2 Successfully do an outer merge between `left_df` and `ChosenOne`. Then try to do an outer merge between `left_df` and `CurryForThree` (both are defined below)

In [9]:
left_df.merge(ChosenOne, 
              left_on = 'firm',
              right_on = 'tic',
              how = 'outer')

        firm varA  tic varB varc
0  Accenture   A1  NaN  NaN  NaN
1       Citi   A2  NaN  NaN  NaN
2         GS   A3   GS   B1   C1
3         GS   A3   GS   B2   C2
4         GS   A3   GS   B3   C3

In [10]:
left_df.merge(ChosenOne.rename(columns = {'tic':'firm'}), 
              on = 'firm',
              how = 'outer')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   B1   C1
3         GS   A3   B2   C2
4         GS   A3   B3   C3

In [11]:
left_df.merge(CurryForThree, 
              left_on = 'firm',
              right_on = 'var1',
              how = 'outer')

        firm varA varD varE
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   D1   E1
3         GS   A3   D2   E2
4         GS   A3   D3   E3

- Q3 Do an outer merge with `left_df` and `right_df` and output the source of each observation by using the "indicate" option.

In [12]:
len_before = len(left_df)

a_bad_name = left_df.merge(right_df, 
             how = 'outer',
             indicator = True)

display(a_bad_name)

# after merges, count size of new frame, and tabulate sources

print('len before = ', len_before, 'len after = ', len(a_bad_name))

# if you think they should be equal

#assert len(a_bad_name) == len(left_df)

a_bad_name['_merge'].value_counts()

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

len before =  3 len after =  5

_merge
left_only     2
right_only    2
both          1
Name: count, dtype: int64

- Q4 Repeat the outer merge we just did, but four times: try each possible value of "validate"

In [13]:
# validate is a built in function
# merge wont work unless 1:1

left_df.merge(right_df, 
             how = 'outer',
             indicator = True,
             validate = '1:1')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1      Chase  NaN   B2   C2  right_only
2       Citi   A2  NaN  NaN   left_only
3         GS   A3   B1   C1        both
4         WF  NaN   B3   C3  right_only

In [14]:
a_bad_name = left_df.merge(right_df, 
             how = 'outer',
             indicator = True,
                           validate  = 'm:m')

In [15]:
a_bad_name = left_df.merge(right_df, 
             how = 'outer',
             indicator = True,
                           validate  = '1:m')

## Validate didnt stop any of these, WHY?

1 is a subset of many, so its all the same

All merges satisfy m:m

Never use m:m

Now, let's add two more NBA themed datasets to the party:

## Part 2

- Q5: [Guess what category of join](https://ledatascifi.github.io/ledatascifi-2025/content/03/05b_merging.html#categories-of-joins) each of the following merges are?  
    1. `left_df` and `right_df` (you already know from Q4)
    1. `left_df` and `ChosenOne`
    1. `CurryForThree` and `left_df`
    1. `ChosenOne` and `CurryForThree`

## Q5

1. one to one
2. one to many
3. many to one
4. many to many

- Q6: Do each of those four merge with `how='inner'` as an option. What is the length of each resulting dataframe?

In [23]:
left_df.merge(right_df,
              how = 'inner',
              on = 'firm',
              indicator = True,
              validate = '1:1')

  firm varA varB varc _merge
0   GS   A3   B1   C1   both

In [21]:
CurryForThree.merge(ChosenOne,
              how = 'inner',
              left_on = 'var1', right_on = 'tic',
              indicator = True,
              validate = 'm:m')

  varD varE tic varB varc _merge
0   D1   E1  GS   B1   C1   both
1   D1   E1  GS   B2   C2   both
2   D1   E1  GS   B3   C3   both
3   D2   E2  GS   B1   C1   both
4   D2   E2  GS   B2   C2   both
5   D2   E2  GS   B3   C3   both
6   D3   E3  GS   B1   C1   both
7   D3   E3  GS   B2   C2   both
8   D3   E3  GS   B3   C3   both

- Q7: Do an outer merge of `left_df` and `ChosenOne`. How many observations are in the resulting data, and why is it different than we foudn in Q6?

- Q8: Merge these next two datasets with `how='inner'` as an option. What s the length of the resulting dataframe and do you think it's right?

In [31]:
poppop = pd.DataFrame({
                    'tic': ['TSLA','TSLA','GM'],
                    'varB': ['2016', '2017', '2018'],
                    'varc': ['C1', 'C2', 'C3']})    

CurryForThree = pd.DataFrame({
                    'var1': ['F','TSLA','TSLA'],
                    'varD': ['2016', '2017', '2018'],
                    'varE': ['E1', 'E2', 'E3']}).set_index('var1')
display(poppop)
display(CurryForThree)

    tic  varB varc
0  TSLA  2016   C1
1  TSLA  2017   C2
2    GM  2018   C3

      varD varE
var1
F     2016   E1
TSLA  2017   E2
TSLA  2018   E3

In [27]:
poppop.merge(CurryForThree,
            how = 'inner',
            left_on = 'tic', right_on = 'var1',
            indicator = True,
            validate = 'm:m')

    tic  varB varc  varD varE _merge
0  TSLA  2016   C1  2017   E2   both
1  TSLA  2016   C1  2018   E3   both
2  TSLA  2017   C2  2017   E2   both
3  TSLA  2017   C2  2018   E3   both

In [28]:
poppop.merge(CurryForThree,
            how = 'inner',
            left_on = ['tic','varB'], right_on = ['var1','varD'],
            indicator = True,
            validate = '1:1')

    tic  varB varc  varD varE _merge
0  TSLA  2017   C2  2017   E2   both

## Part 3 - Collecting tips

You should, after class, collect tips about
- The most common use of merging and safeguards you can use
- When should you create variables - before or after a merge?
- Best practices for merging

3.4.1.5